
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-weight: 400;

  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#file-upload-button {
  display: none;
}

@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GaretBold';
  src: url('./assets/fonts/Garet-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zig';
  src:url('./assets/fonts/zig.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
}


select {
  color: #ffffff;
  font-size: 0.875rem;
}

option {
  color: #b6b4b4;
}

#files, #dateTimeMetF, #imageDate0, #imageDate1, #imageDate2 {
  font-size: 0.875rem;
  padding-top: 0.40rem;
}
